{% extends "BenDoctorsBundle::layout.html.twig" %}
{% block body %}


 {% block fos_user_content %}

 {% endblock fos_user_content %}
 
{% block outcontainer %}
{% endblock outcontainer %}
    </section>
 {% endblock body %}