{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
            <div class="alert fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong><i class="icon-warning-sign"></i> erreur : </strong> {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
            </div>
{% endblock fos_user_content %}
